/* MOBILE */

@media screen and (max-width: 720px) {

  #bilderkarussell {
    width: 70%;
    height: 300px;
    margin: 0 15%;
    overflow: hidden;
    border-radius: 10px;
  }

}

@media screen and (max-width: 666px) {

  /* HEADER ***************************/

  #logo {
    width: 60px;
    margin-left: 30px;
  }

  header nav {
    margin: 0;
    float: none;
  }

  /* menue symbol */
  .fa-bars {
    font-size: 19px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: right;
    float: right;
    margin: -25px 30px 0 0;
  }

  .fa-bars:hover {
    opacity: 0.5;
  }

  .fa-bars.open {
    display: none;
  }

  /* X symbol to close menue */
  .fa-times {
    display: none;
    font-size: 19px;
    width: 100%;
    cursor: pointer;
    text-align: right;
    float: right;
    margin: -25px 30px 0 0;
  }

  .fa-times:hover {
    opacity: 0.5;
  }

  .fa-times.open {
    display: inline-block;
  }

  header nav ul {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  header nav ul li {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: 13px;
    border-top: 1px solid #dddddd;
  }

  header nav ul.open {
    height: auto;
  }

  header nav ul li:hover {
    background-color: #eeeeee;
  }

  .success{
    margin-top: 45px;
  }

}

@media screen and (max-width: 585px) {


  #h1 {
    margin-top: 80px;
    width: 200px;
  }

  #home h2 {
    width: 70%;
    height: auto;
  }

  #pfeil {
    width: 20px;
    margin-top: 100px;
  }

  h3 {
    padding-top: 12%;
  }


  /* ANGEBOT ***************************/

  #angebot p {
    font-size: 12px;
  }


  /* KONTAKT ***************************/

  form input, form textarea {
    width: 70%;
  }

  .button {
    width: 73%;
  }

  .input_text {
    margin-bottom: 6px;
  }

  .alert {
    margin-left: -37%;
    margin-bottom: 5px;
    width: 68%;
  }

  .alert.show {
    font-size: 12px;
  }


  /* FOOTER ***************************/

  .inhalt {
    width: 70%;
  }

  .follow p {
    font-size: 10px;
  }

  .fa-facebook-square, .fa-instagram {
    font-size: 20px;
  }

  .angaben {
    font-size: 10px;
  }
}
