/* MOBILE */

@media screen and (max-width: 666px) {
  /* HEADER ***************************/

  #logo {
    width: 60px;
    margin-left: 30px;
  }

  header nav {
    margin: 0;
    float: none;
  }

  /* menue symbol */
  .fa-bars {
    font-size: 19px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: right;
    float: right;
    margin: -25px 30px 0 0;
  }

  .fa-bars:hover {
    opacity: 0.5;
  }

  .fa-bars.open {
    display: none;
  }

  /* X symbol to close menue */
  .fa-times {
    display: none;
    font-size: 19px;
    width: 100%;
    cursor: pointer;
    text-align: right;
    float: right;
    margin: -25px 30px 0 0;
  }

  .fa-times:hover {
    opacity: 0.5;
  }

  .fa-times.open {
    display: inline-block;
  }

  header nav ul {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  header nav ul li {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: 13px;
    border-top: 1px solid #dddddd;
  }

  header nav ul.open {
    height: auto;
  }

  header nav ul li:hover {
    background-color: #eeeeee;
  }

  /* IMPRESSIONEN ***************************/

  #bilderkarussell {
    width: 90%;
    height: 270px;
    margin: 0 5% 30px 5%;
  }

  /* KONTAKT ***************************/

  #überuns p {
    left: 10px;
    margin-top: 10px;
  }

  /* KONTAKT ***************************/

  .success {
    margin-top: 45px;
  }

  form input {
    width: 60%;
  }

  form textarea {
    width: 59.9%;
  }

  .input_text {
    margin: 0 20% 6px 20%;
  }

  .alert.show {
    font-size: 12px;
  }

  .button {
    width: 63%;
    margin: 0 20% 0 20%;
  }

  .alert {
    width: 59%;
    margin: -2px 20% 0 20%;
  }

  /* FOOTER ***************************/

  .inhalt {
    width: 70%;
  }

  .follow p {
    font-size: 10px;
  }

  .fa-facebook-square,
  .fa-instagram {
    font-size: 20px;
  }

  .angaben {
    font-size: 10px;
  }
}
