/* TABLETS */

@media screen and (max-width: 1024px) {
  /* HEADER ***************************/

  header {
    height: auto;
  }

  #logo {
    width: 70px;
    margin-top: 5px;
  }

  header nav {
    margin-top: 0;
  }

  header nav ul li {
    font-size: 12px;
  }

  /* HOME ***************************/

  #home {
    background-attachment: scroll;
  }

  #h1 {
    margin-top: 80px;
    width: 200px;
  }

  #home h2 {
    font-size: 22px;
  }

  #pfeil {
    width: 30px;
    margin-top: 140px;
  }

  /* ANGEBOT ***************************/

  #imbiss {
    width: 100%;
  }

  #grill {
    width: 100%;
    margin-top: 45px;
  }

  h3 {
    padding-top: 10%;
  }

  #imbiss img,
  #grill img {
    width: 80%;
  }

  /* IMPRESSIONEN ***************************/

  #impressionen {
    padding-bottom: 50px;
  }

  #eindrücke,
  #location {
    width: 100%;
    float: none;
  }

  #bilderkarussell {
    width: 70%;
    margin: auto 15%;
    height: 380px;
  }

  /* ÜBER UNS ***************************/

  #überuns p {
    left: 10px;
  }

  #überuns {
    padding-bottom: 50px;
  }

  .grid figure {
    margin: 0 1% 35px 1%;
  }

  /* KONTAKT ***************************/

  #kontakt {
    padding-bottom: 20px;
  }

  .success {
    margin-top: 50px;
    height: auto;
  }

  .alert {
    margin: -3px 25% 0 25%;
  }

  #mailAlert {
    margin-top: 1px;
  }

  .alert.show {
    font-size: 14px;
  }

  .input_text {
    margin-bottom: 6px;
  }

  .button {
    width: 52%;
  }

  /* FOOTER ***************************/

  .inhalt {
    width: 60%;
  }

  .follow p {
    font-size: 13px;
  }

  .fa-facebook-square,
  .fa-instagram {
    font-size: 24px;
  }

  .angaben {
    font-size: 13px;
  }
}
